<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		
		<!-- Broken access control -->
		<httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="Insert" />
		<authentication>
			<forms requireSSL="true" xdt:Transform="Insert" />
		</authentication>
		
	</system.web>
</configuration>