<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		
		<!-- Cryptographic failures -->
		<httpRuntime enableVersionHeader="false" xdt:Transform="SetAttributes(enableVersionHeader)" />
	</system.web>	
    <system.webServer>
		
		<!-- Cryptographic failures -->
		<security xdt:Transform="Insert">
			<requestFiltering removeServerHeader="true" />
		</security>

		<!-- Cryptographic failures -->
		<httpProtocol xdt:Transform="Insert">
			<customHeaders>
				<remove name="X-Powered-By" />				
				
                <add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-Frame-Options" value="DENY" />
				<add name="X-Permitted-Cross-Domain-Policies" value="none"/>			
				<!-- For more security related headers, check https://owasp.org/www-project-secure-headers/ -->
			</customHeaders>
		</httpProtocol>
		
    </system.webServer>
</configuration>